*Creado por:*

*Isabel Maniega*

# -0- Importamos nuestras dependencias

In [ ]:
# pip install pandas

In [ ]:
# !pip install pandas

In [ ]:
# pip install matplotlib

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# ----------- Introducción a Python -------------------

## -1- Variables en Python

In [ ]:
info = "Hola Mundo"
info

In [ ]:
info = 'Hola Mundo'
info

In [ ]:
info = 10
info

## -2- Print en Python

### -2.1- print con Jupyter --> No es necesario poner print

In [ ]:
var1 = 1000

In [ ]:
var1

### -2.2- print con VSC --> Es necesario poner print

In [ ]:
print(var1)

### -2.3- Formas de imprimir

In [ ]:
x = 2
y = 3
z = y + x
z

In [ ]:
print("LA SUMA DE: ", x, "y", y, "es igual a:", z)

In [ ]:
print("La suma de: " + str(x) + " + " + str(y) + " es igual a: " + str(z))

In [ ]:
print(f"La suma de: {x} y {y} es igual a: {z}")

In [ ]:
print("La suma de: %s y %s es igual a: %s" %(x,y,z))

In [ ]:
print("La suma de: x y y es igual a: z")

Signo Scape ("\") + newline (n)

In [ ]:
print("Hola \nMundo")

In [ ]:
print("Hola")
print("\\")
print("Mundo")

In [ ]:
print("Hola")
print("\")
print("Mundo")

In [ ]:
print(f"La suma de: {x} y {y}", end=" ")
print(f"es igual a: {z}")

In [ ]:
print(f"La suma de: {x} y {y} ", f" es igual a: {z}", sep="-")

In [ ]:
print("Hola", "Mundo", "PCEP", sep='-')

In [ ]:
print("Hola Mundo", "PCEP", sep='-')

In [ ]:
print(1, 2, 3, sep='*')

## -3- String Python

In [ ]:
info = "Hola Mundo"
info

In [ ]:
info = 'Hola Mundo'
info

In [ ]:
# Dos comillas dobles: invalid syntax
info = "Hola "Mundo""
info

In [ ]:
# Comillas dobles y comillas simples:
info = "Hola 'Mundo'"
info

### -3.1- Concatenación

In [ ]:
info = "Hola " + "Mundo"
info

In [ ]:
info = "Hola" + " " + "Mundo"
info

In [ ]:
print(type(info))
info = 10
print(type(info))

### -3.2- Métodos upper(), lower() y title()

In [ ]:
info = "hola mundo"
info = info.title()
info

In [ ]:
info = "hola mundo".title()
info

In [ ]:
info = "hola mundo"
info = info.upper()
info

In [ ]:
info = info.lower()
info

## -4- Suma, restas, multiplicaciones y divisiones en Python

In [ ]:
# SUMA
# Pondremos la asignacion de una variable y después los datos que queremos sumar con signo (+)
suma = 1 + 3
suma

In [ ]:
x = 0

x = x + 1
x

In [ ]:
# Abreviada:
x = 0
x += 1
x

In [ ]:
# RESTAS
# Pondremos la asignacion de una variable y después los datos que queremos restar con signo (-)
resta = 5 - 2
resta

In [ ]:
# MULTIPLICACIÓN
# Pondremos la asignacion de una variable y después los datos que queremos multiplicacion con signo (*)
multiplicacion = 3 * 5
multiplicacion

In [ ]:
# DIVISIÓN
# Pondremos la asignacion de una variable y después los datos que queremos división con signo (/)
division = 15 / 5
division

In [ ]:
# Cociente de una división
# Pondremos la asignacion de una variable y después los datos que queremos división con signo (//)
division = 15 // 5
division

In [ ]:
# Resto de una división
# Pondremos la asignacion de una variable y después los datos que queremos división con signo (%)
division = 17 % 5
division

In [ ]:
# OPERACIÓN
# Pondremos la asignacion de una variable y después los datos que queremos operar con signo
operar = 20 - 8 * 6 / 3 + 10
operar

In [ ]:
# OPERACIÓN
# ASIGNACIÓN DE PRIORIDAD: paréntesis
operar = (20 - 8) * 6 / 3 + 10
operar

### -4.1- Exponente

In [ ]:
# Exponente
# Pondremos la asignacion de una variable y después el dato elevado (**) al valor 
elevado = 20 ** 3
elevado

### -4.2- Decimales

In [ ]:
# En el caso de los decimales se pone (.), NUNCA (,)
number = 2,4
number

In [ ]:
type(number)

In [ ]:
# En el caso de los decimales se pone (.), NUNCA (,)
number = 2.4
number

In [ ]:
type(number)

In [ ]:
# Si sólo ponemos punto lo interpreta como 0.5
number = .5
number

In [ ]:
# Redondear: round(numero, numero de decimales)
number = round(0.3555, 2)
number

### -4.3- Tipos de datos

In [ ]:
number = 0.2365
type(number)

In [ ]:
number = 25
type(number)

In [ ]:
text = "Hola Mundo"
type(text)

### -4.4- Max, Min, Absoluto, suma

In [ ]:
# Valor absoluto
absoluto = abs(-6)
absoluto

In [ ]:
# Maximo de una serie de números
maximo = max(6, -3, 8.56, -40, 25)
maximo

In [ ]:
# Mínimo de una serie de números
minimo = min(6, -3, 8.56, -40, 25)
minimo

In [ ]:
suma_lista = sum([2, 2, 6])
suma_lista

# -5- Estructura de datos Básicos

### -5.1- Tuplas

In [ ]:
# Tuplas o arrays
A = (10, 20, 30, 40) # 0,1,2,3
A

In [ ]:
A[0]

In [ ]:
A[1]

In [ ]:
# Imprimir todos juntos
A[0], A[1], A[2], A[3]

In [ ]:
A

In [ ]:
# última posición
A[-1]

**¿Apendizar en tuplas?**

In [ ]:
# Listado2.append(numero)
# Listado2 --> es el nombre de la lista la cual quiero apendizar
# .append(numero) --> Añadir un valor en la serie de numeros
A.append(50)

No es posible!!!

**Modificar valores en la tupla**

In [ ]:
# Listado[0] = 200
A[0] = 200

No nos permite!!!

Conclusión:
   * Las tuplas no permiten apendizar elementos
   * Las tuplas no permiten modificar elementos

### -5.2- Arrays

In [ ]:
import numpy as np

In [ ]:
B = np.array([10, 20, 30, 40])
B

In [ ]:
B[0]

In [ ]:
B[-1]

In [ ]:
B

**Transformar a lista apartir de un np.array()**

**NombreArray.tolist()**

In [ ]:
Listado_B = B.tolist()
Listado_B

**lista a array (nuevamente)**

In [ ]:
array_listado_B = np.array(Listado_B)
array_listado_B

**¿Es posible apendizar elementos a un np.array?**

In [ ]:
B.append(50) #--> No Funciona
B

In [ ]:
B

In [ ]:
c = np.append(B, 50)
c

Si es posible pero usando la librería numpy (np.append)

**¿Es posible modificar elementos a un np.array?**

In [ ]:
B[0] = 100
B

In [ ]:
c[0], c[-1]

Si es posible modificar datos

### -5.3- Listas

In [ ]:
C = [10, 20, 30, 40]
C

In [ ]:
type(C)

In [ ]:
test = (10, 20, 30, 40)
list_test = list(test)
list_test

In [ ]:
B = list((10, 20, 30, 40))
B

In [ ]:
type(B)

In [ ]:
B[2]

**¿Es posible apendizar elementos a una lista?**

In [ ]:
B.append(100)
B

**¿Es posible modificar elementos a una lista?**

In [ ]:
B[0] = 500
B

Conclusión:
   * Es posible apendizar 
   * Es posible modificar

### -5.4- Mínimos y Máximos en estructura de datos

In [ ]:
listado = [300, 100, 700, 400]
listado

In [ ]:
min(listado)

In [ ]:
max(listado)

### -5.5- Recomendaciones

In [ ]:
L = [120, 230, 340, 400, 450, 500, 550, 600, 650, 700, 750, 800]
L

In [ ]:
# Pero mejor de esta forma...

In [ ]:
L = [
     120, 230, 340,
     400, 450, 500,
     550, 600, 650,
     700, 750, 800
]
# mejor
L

In [ ]:
# Matrices con Numpy
a = np.array([
     [120, 230, 340],
     [400, 450, 500],
     [550, 600, 650],
     [700, 750, 800]])
a

### -5.6- Dataframes

In [ ]:
# Usamos comillas dobles para los nombres de los estudiantes (E)
E = ["Andres", "Marcos", "Eva", "María"]
E

In [ ]:
# Notas de los exámenes (N), de 0 a 10, siendo 10 la nota más alta
N = [9, 7, 8, 6]
N

In [ ]:
# Edades de cada uno de los alumnos (M)
M = [21, 23, 25, 27]
M

In [ ]:
# pip install pandas

In [ ]:
import pandas as pd

In [ ]:
# Crear el dataframe con pandas
df = pd.DataFrame(E, columns=["Estudiante"])
df

In [ ]:
df['Notas'] = N
df

In [ ]:
df['Edad'] = M
df

In [ ]:
df.head(2)

In [ ]:
df.tail(2)

In [ ]:
df.Notas

In [ ]:
df['Notas']

In [ ]:
df[['Notas']]

# Enteros: números octales y hexadecimales

Existen dos convenciones adicionales en Python que no son conocidas en el mundo de las matemáticas. El primero nos permite utilizar un número en su representación octal.

Si un número entero esta precedido por un código 0O o 0o (cero-o), el número será tratado como un valor octal. Esto significa que el número debe contener dígitos en el rango del [0..7] únicamente.

0o123 es un número octal con un valor (decimal) igual a 83.

In [ ]:
print(0o123)

La segunda convención nos permite utilizar números en hexadecimal. Dichos números deben ser precedidos por el prefijo 0x o 0X (cero-x).

0x123 es un número hexadecimal con un valor (decimal) igual a 291.

In [ ]:
print(0x123)

*Creado por:*

*Isabel Maniega*