*Creado por:*
    
*Isabel Maniega*

# Ejercicio 1

Describe una variable con nombre "notas" que tenga el valor de -3, muestra su valor.

In [1]:
notas = -3
notas

-3

# Ejercicio 2

Imprime los valores de "s" es igual 25, de "y" es igual a 10, poniendo la siguiente salida:
    El valor de "s" es "valor de s" y el valor de y es "valor de y"

In [2]:
s = 25
y = 10
print(f'el valor de s es {s} y el valor de y es {y}')
print('el valor de s es ' + str(s) + ' y el valor de y es ' + str(y))
print('el valor de s es ', s, ' y el valor de y es ', y)
print('el valor de s es %s y el valor de y es %s' %(s, y))

el valor de s es 25 y el valor de y es 10
el valor de s es 25 y el valor de y es 10
el valor de s es  25  y el valor de y es  10
el valor de s es 25 y el valor de y es 10

# Ejercicio 3

Declarar una variable con nombre "name", que tenga el valor de Juan "El profesor"

In [13]:
name = "Juan 'El profesor'"
name

"Juan 'El profesor'"

# Ejercicio 4

Concatena las siguientes palabras formando un sola: Juan "El profesor"

In [14]:
name = "Juan"  + " " + "'El profesor'"
name

"Juan 'El profesor'"

In [15]:
name = "Juan " + "'El profesor'"
name

"Juan 'El profesor'"

# Ejercicio 5

Teniendo la siguientes palabras: no cuentes los días, haz que los días cuenten

In [16]:
frase = "no cuentes los días, haz que los días cuenten"

· Pon las primeras letras de cada palabra en mayúsculas:

In [17]:
frase = frase.title()
frase

'No Cuentes Los Días, Haz Que Los Días Cuenten'

· Pon todas las letras en mayúsculas:

In [18]:
frase = frase.upper()
frase

'NO CUENTES LOS DÍAS, HAZ QUE LOS DÍAS CUENTEN'

· Pon todas las letras en minúculas

In [19]:
frase = frase.lower()
frase

'no cuentes los días, haz que los días cuenten'

# Ejercicio 6

Realiza la suma de 26 y 35:

In [20]:
suma = 26 + 35
suma

61

Realiza la multiplicación de 26 y 35:

In [21]:
multiplicacion = 26 * 35
multiplicacion

910

Realiza la operación de 2 + 32 por 10:

In [22]:
operacion = 2 + 32 * 10
operacion

322

In [1]:
operacion = (2 + 32) * 10
operacion

340

Saca el resultado de 3 elevado a 9

In [24]:
elevado = 3 ** 9
elevado

19683

Redondea el resultado anterior a dos decimales

In [25]:
elevado = round(elevado, 2)
elevado

19683

Muestra de que tipo se trata

In [26]:
type(elevado)

int

# Ejercicio 7

Saca el valor absoluto de -32

In [27]:
absoluto = abs(-32)
absoluto

32

Muestra el máximo y el mínimo de (3, -6, 4, -10, 2.6666)

In [28]:
L = [3, -6, 4, -10, 2.6666]
L

[3, -6, 4, -10, 2.6666]

In [29]:
max(L), min(L)

(4, -10)

# Ejercicio 8

Tratar de reemplazar los valores que faltan en este listado --> por un -1

L = [10, None, 8, 5, None, 20]

**1) Hazlo de la forma más fácil posible teniendo en cuenta la posición (index) de esos valores.**

In [1]:
L = [10, None, 8, 5, None, 20]

In [2]:
L[1] = -1

In [3]:
L[-2] = -1
L

[10, -1, 8, 5, -1, 20]

**2) Crea un dataframe con esos valores (L = [10, None, 8, 5, None, 20])**

In [4]:
# recuerda instalar pandas si es necesario:
# pip install pandas

In [4]:
import pandas as pd

In [5]:
L = [10, None, 8, 5, None, 20]

In [8]:
df = pd.DataFrame(L)

In [9]:
df

      0
0  10.0
1   NaN
2   8.0
3   5.0
4   NaN
5  20.0

*Creado por:*
    
*Isabel Maniega*