*Creado por:*

*Isabel Maniega*

# Ejercicio 1

**a)** Declara la variable "test" como una lista con los siguientes componentes: 25, 8, 32, 20, 1. Usa las formas que conozcas para crearla y el uso de type para asegurarte de que es una lista.

In [1]:
test = list((25, 8, 32, 20, 1))
test

[25, 8, 32, 20, 1]

In [2]:
test = [25, 8, 32, 20, 1]
test

[25, 8, 32, 20, 1]

In [3]:
type(test)

list

**b)** Apendiza un valor de valor 20, 32, 25, 32

In [4]:
test.append(20)
test

[25, 8, 32, 20, 1, 20]

In [5]:
test.append(32)
test

[25, 8, 32, 20, 1, 20, 32]

In [6]:
test.append(25)
test

[25, 8, 32, 20, 1, 20, 32, 25]

In [7]:
test.append(32)
test

[25, 8, 32, 20, 1, 20, 32, 25, 32]

**otra forma**

In [8]:
test = [25, 8, 32, 20, 1]
test

[25, 8, 32, 20, 1]

In [9]:
listas = [20, 32, 25, 32]

for lista in listas:
    test.append(lista)
test

[25, 8, 32, 20, 1, 20, 32, 25, 32]

**y forma más...**

In [10]:
#  Concatenación de listas:

listas = [20, 32, 25, 32]
test2 = [25, 8, 32, 20, 1]
result = test2 + listas
result

[25, 8, 32, 20, 1, 20, 32, 25, 32]

**c)** Elimina el valor 8 de la lista

In [11]:
# Por posición:
test.remove(test[1])
test

[25, 32, 20, 1, 20, 32, 25, 32]

In [12]:
# Por valor:
result.remove(8)
result

[25, 32, 20, 1, 20, 32, 25, 32]

In [13]:
#  Sólo elimina el primer valor que encuentra:
result.remove(20)
result

[25, 32, 1, 20, 32, 25, 32]

**d)** Elimina los duplicados que haya en la lista test

In [14]:
test = list(set(test))
test

[32, 25, 20, 1]

**e)** Crea una segunda lista de nombre "info" que contenga los valores: 25, 100, 10, 20, 5, 25, 30, 200

In [15]:
info = [25, 100, 10, 20, 5, 25, 30, 200]
info

[25, 100, 10, 20, 5, 25, 30, 200]

**f)** ¿Cuántos valores se repiten entre las listas?

In [16]:
contador = 0
for n in test:
    for i in info:
        if n == i:
            print('Numero repetido: ', n)
            contador += 1
print(contador)

Numero repetido:  25
Numero repetido:  25
Numero repetido:  20
3

**g)** Muéstrame el maximo y mínimo en las dos listas

In [17]:
max(test), min(test)

(32, 1)

In [18]:
max(info), min(info)

(200, 5)

**h)** Crea una nueva variable de nombre "matriz" transformando la lista test en matriz

In [19]:
import numpy as np

matriz = np.array(test)
matriz

array([32, 25, 20,  1])

**i)** Crea una función que se llame "funcion_división" donde se divida el test con valor 32 entre info con valor 5 y muestra el resto de la división

In [20]:
# Info[4] == 5
# test[0] == 32
def funcion_division(n, s):
    return test[n] % info[s]

In [21]:
n = 0
for i in test:
    if i == 32:
        break
    n += 1
print(n)

0

In [22]:
s = 0
for j in info:
    if j == 5:
        break
    s += 1
print(s)

4

In [23]:
funcion_division(n, s)

2

**j)** Con ayuda de reverse() muestra la inversa de test

In [24]:
test.reverse()
test

[1, 20, 25, 32]

**k)** Con el listado info utiliza un bucle for con la ayuda de enumerate(), para mostrar posición y valor y crea un diccionario de nombre "newDict"

In [25]:
newDict = {}

for key, value in enumerate(info):
    newDict[key] = value
print(newDict)

{0: 25, 1: 100, 2: 10, 3: 20, 4: 5, 5: 25, 6: 30, 7: 200}

**l)** Crea un nuevo listado con nombre "info2" donde los valores: 25 se sustituya por "María", el valor 20 por "Juan" y el valor 10 por "Pedro"

In [26]:
info2 = []

for i in info:
    if i == 25:
        info2.append("María")
    elif i == 20:
        info2.append("Juan")
    elif i == 10:
        info2.append("Pedro")
    else:
        info2.append(i)
info2

['María', 100, 'Pedro', 'Juan', 5, 'María', 30, 200]

**m)** Sustituye en el listado test los multiplos de 2 por "Dos"

In [27]:
n = 0

for i in test:
    if i%2 == 0:
        test[n] = "Dos"
    n += 1
test

[1, 'Dos', 25, 'Dos']

# Ejercicio 2:

Escribe un programa que imprima los números desde 1 hasta 100

Pero:
    
   * Para los múltiplos de 3 escribe "Hello"
   * Para los múltiplos de 5 escribe "World"
   * Para los múltiplos de ambos (3 y 5) escribe "Hello World" 
   
(en vez de los números correspondientes)

In [15]:
# Crear la lista con todos los valores
import numpy as np
N = np.arange(0,101,1).tolist()
print(np.array(N))

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100]

In [16]:
# Sustituir los valores
for i in N:
    if N[i] % 5 == 0 and N[i] % 3 == 0:
        N[i] = "Hello World"
    if N[i] != "Hello World" and N[i] % 5 == 0:
        N[i] = "World"
    if N[i] != "Hello World" and N[i] != "World" and N[i] % 3 == 0:
        N[i] = "Hello"    

print(np.array(N))

['Hello World' '1' '2' 'Hello' '4' 'World' 'Hello' '7' '8' 'Hello' 'World'
 '11' 'Hello' '13' '14' 'Hello World' '16' '17' 'Hello' '19' 'World'
 'Hello' '22' '23' 'Hello' 'World' '26' 'Hello' '28' '29' 'Hello World'
 '31' '32' 'Hello' '34' 'World' 'Hello' '37' '38' 'Hello' 'World' '41'
 'Hello' '43' '44' 'Hello World' '46' '47' 'Hello' '49' 'World' 'Hello'
 '52' '53' 'Hello' 'World' '56' 'Hello' '58' '59' 'Hello World' '61' '62'
 'Hello' '64' 'World' 'Hello' '67' '68' 'Hello' 'World' '71' 'Hello' '73'
 '74' 'Hello World' '76' '77' 'Hello' '79' 'World' 'Hello' '82' '83'
 'Hello' 'World' '86' 'Hello' '88' '89' 'Hello World' '91' '92' 'Hello'
 '94' 'World' 'Hello' '97' '98' 'Hello' 'World']

In [17]:
del N[0]
print(np.array(N))

['1' '2' 'Hello' '4' 'World' 'Hello' '7' '8' 'Hello' 'World' '11' 'Hello'
 '13' '14' 'Hello World' '16' '17' 'Hello' '19' 'World' 'Hello' '22' '23'
 'Hello' 'World' '26' 'Hello' '28' '29' 'Hello World' '31' '32' 'Hello'
 '34' 'World' 'Hello' '37' '38' 'Hello' 'World' '41' 'Hello' '43' '44'
 'Hello World' '46' '47' 'Hello' '49' 'World' 'Hello' '52' '53' 'Hello'
 'World' '56' 'Hello' '58' '59' 'Hello World' '61' '62' 'Hello' '64'
 'World' 'Hello' '67' '68' 'Hello' 'World' '71' 'Hello' '73' '74'
 'Hello World' '76' '77' 'Hello' '79' 'World' 'Hello' '82' '83' 'Hello'
 'World' '86' 'Hello' '88' '89' 'Hello World' '91' '92' 'Hello' '94'
 'World' 'Hello' '97' '98' 'Hello' 'World']

*Creado por:*

*Isabel Maniega*